html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > .main {
  width: 325px;
  height: 445px;
  border: 2px solid black;
  padding: 18px;
  box-sizing: border-box;
}
.main-body {
}
.main-body-title {
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-body-sub-title {
  font-size: 24px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  margin-top: 5px;
}
.main-body-content {
  display: flex;
}
.main-body-content-left {
  width: 80px;
  height: 95px;
  border: 1px solid black;
  margin-right: 14px;
  display: flex;
  align-items: center;
}
.main-body-content-left img {
  width: 80px;
}
.main-body-content-right-item {
  margin-bottom: 17px;
}
.main-body-content-right-item-name.first {
  width: 110px;
  display: inline-block;
}
.main-middle {
  width: 270px;
  height: 120px;
  border: 1px solid black;
  display: flex;
}
.main-middle-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main-middle-item-name {
  flex: 1;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main-middle-item-name .main {
  text-align: center;
  padding: 3px 0;
}
.main-middle-item-name .sub {
  font-size: 12px;
  display: block;
}
.main-footer {
  font-size: 12px;
  padding: 5px 0;
  position: relative;
  margin-left: -30px;
}
.main-footer .name {
  display: block;
  transform: scale(0.8);
}
